@import "https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css";
.job-card {
    margin-top:10px;
    margin-bottom:10px;
}
.skills-row {
    margin-top:10px;
}
.resume-container {
    margin-top:50px;
    margin-bottom:50px;
}